* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_2418 {
  width: 100%;
  height: 1402px;
  background: rgba(68,68,68,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_2492 {
  width: 100%;
  height: 108px;
  background: rgba(0,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_2493 {
  width: 403px;
  height: 108px;
  background: url("../images/v1_2493.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 89px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 957px;
  overflow: hidden;
}
.v1_2589 {
  width: 79px;
  height: 30px;
  background: url("../images/v1_2589.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 39px;
  left: 0px;
  overflow: hidden;
}
.v1_2494 {
  width: 79px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_2495 {
  width: 74px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 39px;
  left: 168px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_2496 {
  width: 72px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 39px;
  left: 331px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_2499 {
  width: 133px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 16px;
  left: 30px;
  font-family: Quantico;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v56_434 {
  width: 100%;
  height: 1054px;
  background: rgba(153,64,64,0);
  opacity: 1;
  position: absolute;
  top: 100px;
  left: 157px;
  overflow: hidden;
}
.v56_435 {
  width: 271px;
  height: 553px;
  background: rgba(65,64,66,1);
  opacity: 1;
  position: absolute;
  top: 134px;
  left: 720px;
}
.v56_436 {
  width: 90px;
  height: 462px;
  background: rgba(65,64,66,1);
  opacity: 1;
  position: absolute;
  top: 307px;
  left: 143px;
}
.v56_437 {
  width: 113px;
  height: 870px;
  background: rgba(65,64,66,1);
  opacity: 1;
  position: absolute;
  top: 100px;
  left: 187px;
}
.v56_438 {
  width: 43px;
  height: 12px;
  background: rgba(65,64,66,1);
  opacity: 1;
  position: absolute;
  top: 505px;
  left: 232px;
}
.v56_439 {
  width: 43px;
  height: 11px;
  background: rgba(65,64,66,1);
  opacity: 1;
  position: absolute;
  top: 487px;
  left: 229px;
}
.v56_440 {
  width: 38px;
  height: 13px;
  background: rgba(65,64,66,1);
  opacity: 1;
  position: absolute;
  top: 525px;
  left: 235px;
}
.v56_441 {
  width: 181px;
  height: 103px;
  background: rgba(65,64,66,1);
  opacity: 1;
  position: absolute;
  top: 111px;
  left: 293px;
}
.v56_442 {
  width: 85px;
  height: 19px;
  background: rgba(65,64,66,1);
  opacity: 1;
  position: absolute;
  top: 100px;
  left: 531px;
}
.v56_443 {
  width: 70px;
  height: 53px;
  background: rgba(65,64,66,1);
  opacity: 1;
  position: absolute;
  top: 147px;
  left: 562px;
}
.v56_444 {
  width: 24px;
  height: 35px;
  background: rgba(65,64,66,1);
  opacity: 1;
  position: absolute;
  top: 225px;
  left: 555px;
}
.v56_445 {
  width: 10px;
  height: 11px;
  background: rgba(65,64,66,1);
  opacity: 1;
  position: absolute;
  top: 169px;
  left: 607px;
}
.v56_446 {
  width: 466px;
  height: 858px;
  background: rgba(65,64,66,1);
  opacity: 1;
  position: absolute;
  top: 76px;
  left: 270px;
}
.v56_447 {
  width: 39px;
  height: 72px;
  background: rgba(65,64,66,1);
  opacity: 1;
  position: absolute;
  top: 263px;
  left: 606px;
}
.v56_448 {
  width: 19px;
  height: 70px;
  background: rgba(65,64,66,1);
  opacity: 1;
  position: absolute;
  top: 358px;
  left: 625px;
}
.v56_449 {
  width: 153px;
  height: 104px;
  background: rgba(65,64,66,1);
  opacity: 1;
  position: absolute;
  top: 515px;
  left: 360px;
}
.v56_450 {
  width: 214px;
  height: 48px;
  background: rgba(65,64,66,1);
  opacity: 1;
  position: absolute;
  top: 468px;
  left: 403px;
}
.v56_451 {
  width: 92px;
  height: 85px;
  background: rgba(65,64,66,1);
  opacity: 1;
  position: absolute;
  top: 584px;
  left: 302px;
}
.v56_452 {
  width: 57px;
  height: 66px;
  background: rgba(65,64,66,1);
  opacity: 1;
  position: absolute;
  top: 735px;
  left: 517px;
}
.v56_453 {
  width: 64px;
  height: 60px;
  background: rgba(65,64,66,1);
  opacity: 1;
  position: absolute;
  top: 426px;
  left: 468px;
}
.v56_454 {
  width: 35px;
  height: 55px;
  background: rgba(65,64,66,1);
  opacity: 1;
  position: absolute;
  top: 737px;
  left: 476px;
}
.v56_455 {
  width: 366px;
  height: 528px;
  background: rgba(65,64,66,1);
  opacity: 1;
  position: absolute;
  top: 448px;
  left: 588px;
}
.v56_456 {
  width: 326px;
  height: 480px;
  background: rgba(65,64,66,1);
  opacity: 1;
  position: absolute;
  top: 469px;
  left: 613px;
}
.v56_457 {
  width: 112px;
  height: 165px;
  background: rgba(65,64,66,1);
  opacity: 1;
  position: absolute;
  top: 732px;
  left: 782px;
}
.v56_458 {
  width: 55px;
  height: 78px;
  background: rgba(65,64,66,1);
  opacity: 1;
  position: absolute;
  top: 626px;
  left: 709px;
}
.v56_459 {
  width: 54px;
  height: 66px;
  background: rgba(65,64,66,1);
  opacity: 1;
  position: absolute;
  top: 533px;
  left: 647px;
}
.v1_2532 {
  width: 516px;
  height: 379px;
  background: url("../images/v1_2532.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 48px;
  opacity: 1;
  position: absolute;
  top: 730px;
  left: 903px;
  overflow: hidden;
}
.v1_2536 {
  width: 516px;
  height: 152px;
  background: url("../images/v1_2536.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_2537 {
  width: 515px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1_2538 {
  width: 515px;
  color: rgba(0,255,255,1);
  position: absolute;
  top: 44px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1_2555 {
  width: 650px;
  height: 417px;
  background: url("../images/v1_2555.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 71px;
  opacity: 1;
  position: absolute;
  top: 263px;
  left: 732px;
  overflow: hidden;
}
.v1_2557 {
  width: 462px;
  color: rgba(0,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Quantico;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: right;
}
.v42_151 {
  width: 611px;
  color: url("../images/v42_151.png");
  position: absolute;
  top: 220px;
  left: 0px;
  font-family: Quantico;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v1_2556 {
  width: 871px;
  color: rgba(0,255,255,1);
  position: absolute;
  top: 156px;
  left: 565px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Quantico;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v14_86 {
  width: 120px;
  height: 119px;
  background: rgba(153,64,64,0);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 150px;
  overflow: hidden;
}
.v14_87 {
  width: 28px;
  height: 62px;
  background: rgba(65,64,66,1);
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 76px;
}
.v14_88 {
  width: 9px;
  height: 52px;
  background: rgba(65,64,66,1);
  opacity: 1;
  position: absolute;
  top: 34px;
  left: 15px;
}
.v14_89 {
  width: 12px;
  height: 98px;
  background: rgba(65,64,66,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 19px;
}
.v14_90 {
  width: 4px;
  height: 1px;
  background: rgba(65,64,66,1);
  opacity: 1;
  position: absolute;
  top: 57px;
  left: 24px;
}
.v14_91 {
  width: 4px;
  height: 1px;
  background: rgba(65,64,66,1);
  opacity: 1;
  position: absolute;
  top: 55px;
  left: 24px;
}
.v14_92 {
  width: 4px;
  height: 1px;
  background: rgba(65,64,66,1);
  opacity: 1;
  position: absolute;
  top: 59px;
  left: 24px;
}
.v14_93 {
  width: 19px;
  height: 11px;
  background: rgba(65,64,66,1);
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 30px;
}
.v14_94 {
  width: 9px;
  height: 2px;
  background: rgba(65,64,66,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 56px;
}
.v14_95 {
  width: 7px;
  height: 6px;
  background: rgba(65,64,66,1);
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 59px;
}
.v14_96 {
  width: 2px;
  height: 3px;
  background: rgba(65,64,66,1);
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 58px;
}
.v14_97 {
  width: 1px;
  height: 1px;
  background: rgba(65,64,66,1);
  opacity: 1;
  position: absolute;
  top: 19px;
  left: 64px;
}
.v14_98 {
  width: 49px;
  height: 96px;
  background: rgba(65,64,66,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 28px;
}
.v14_99 {
  width: 4px;
  height: 8px;
  background: rgba(65,64,66,1);
  opacity: 1;
  position: absolute;
  top: 29px;
  left: 64px;
}
.v14_100 {
  width: 2px;
  height: 8px;
  background: rgba(65,64,66,1);
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 66px;
}
.v14_101 {
  width: 16px;
  height: 11px;
  background: rgba(65,64,66,1);
  opacity: 1;
  position: absolute;
  top: 58px;
  left: 38px;
}
.v14_102 {
  width: 22px;
  height: 5px;
  background: rgba(65,64,66,1);
  opacity: 1;
  position: absolute;
  top: 52px;
  left: 42px;
}
.v14_103 {
  width: 9px;
  height: 9px;
  background: rgba(65,64,66,1);
  opacity: 1;
  position: absolute;
  top: 65px;
  left: 31px;
}
.v14_104 {
  width: 6px;
  height: 7px;
  background: rgba(65,64,66,1);
  opacity: 1;
  position: absolute;
  top: 83px;
  left: 54px;
}
.v14_105 {
  width: 6px;
  height: 6px;
  background: rgba(65,64,66,1);
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 49px;
}
.v14_106 {
  width: 3px;
  height: 6px;
  background: rgba(65,64,66,1);
  opacity: 1;
  position: absolute;
  top: 83px;
  left: 50px;
}
.v14_107 {
  width: 38px;
  height: 59px;
  background: rgba(65,64,66,1);
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 62px;
}
.v14_108 {
  width: 34px;
  height: 54px;
  background: rgba(65,64,66,1);
  opacity: 1;
  position: absolute;
  top: 52px;
  left: 64px;
}
.v14_109 {
  width: 11px;
  height: 18px;
  background: rgba(65,64,66,1);
  opacity: 1;
  position: absolute;
  top: 82px;
  left: 82px;
}
.v14_110 {
  width: 5px;
  height: 8px;
  background: rgba(65,64,66,1);
  opacity: 1;
  position: absolute;
  top: 70px;
  left: 74px;
}
.v14_111 {
  width: 5px;
  height: 7px;
  background: rgba(65,64,66,1);
  opacity: 1;
  position: absolute;
  top: 60px;
  left: 68px;
}
.v1_2453 {
  width: 100%;
  height: 260px;
  background: rgba(0,255,255,0.5);
  opacity: 1;
  position: absolute;
  top: 1161px;
  left: 0px;
  overflow: hidden;
}
.v1_2454 {
  width: 187px;
  height: 168px;
  background: url("../images/v1_2454.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 736px;
  overflow: hidden;
}
.v1_2455 {
  width: 187px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_2456 {
  width: 187px;
  color: rgba(68,68,68,1);
  position: absolute;
  top: 48px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_2457 {
  width: 187px;
  color: rgba(68,68,68,1);
  position: absolute;
  top: 96px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_2458 {
  width: 187px;
  color: rgba(68,68,68,1);
  position: absolute;
  top: 144px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_2459 {
  width: 187px;
  height: 168px;
  background: url("../images/v1_2459.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 955px;
  overflow: hidden;
}
.v1_2460 {
  width: 187px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_2461 {
  width: 187px;
  color: rgba(68,68,68,1);
  position: absolute;
  top: 48px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_2462 {
  width: 187px;
  color: rgba(68,68,68,1);
  position: absolute;
  top: 96px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_2463 {
  width: 187px;
  color: rgba(68,68,68,1);
  position: absolute;
  top: 144px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_2464 {
  width: 187px;
  height: 168px;
  background: url("../images/v1_2464.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 1173px;
  overflow: hidden;
}
.v1_2465 {
  width: 187px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_2466 {
  width: 187px;
  color: rgba(68,68,68,1);
  position: absolute;
  top: 48px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_2467 {
  width: 187px;
  color: rgba(68,68,68,1);
  position: absolute;
  top: 96px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_2468 {
  width: 187px;
  color: rgba(68,68,68,1);
  position: absolute;
  top: 144px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_2469 {
  width: 98px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 54px;
  left: 35px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v56_461 {
  width: 120px;
  height: 119px;
  background: rgba(153,64,64,0);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 134px;
  overflow: hidden;
}
.v56_462 {
  width: 28px;
  height: 62px;
  background: rgba(65,64,66,1);
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 77px;
}
.v56_463 {
  width: 9px;
  height: 52px;
  background: rgba(65,64,66,1);
  opacity: 1;
  position: absolute;
  top: 34px;
  left: 16px;
}
.v56_464 {
  width: 12px;
  height: 98px;
  background: rgba(65,64,66,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 20px;
}
.v56_465 {
  width: 4px;
  height: 1px;
  background: rgba(65,64,66,1);
  opacity: 1;
  position: absolute;
  top: 57px;
  left: 25px;
}
.v56_466 {
  width: 4px;
  height: 1px;
  background: rgba(65,64,66,1);
  opacity: 1;
  position: absolute;
  top: 55px;
  left: 25px;
}
.v56_467 {
  width: 4px;
  height: 1px;
  background: rgba(65,64,66,1);
  opacity: 1;
  position: absolute;
  top: 59px;
  left: 25px;
}
.v56_468 {
  width: 19px;
  height: 11px;
  background: rgba(65,64,66,1);
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 31px;
}
.v56_469 {
  width: 9px;
  height: 2px;
  background: rgba(65,64,66,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 57px;
}
.v56_470 {
  width: 7px;
  height: 6px;
  background: rgba(65,64,66,1);
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 60px;
}
.v56_471 {
  width: 2px;
  height: 3px;
  background: rgba(65,64,66,1);
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 59px;
}
.v56_472 {
  width: 1px;
  height: 1px;
  background: rgba(65,64,66,1);
  opacity: 1;
  position: absolute;
  top: 19px;
  left: 65px;
}
.v56_473 {
  width: 49px;
  height: 96px;
  background: rgba(65,64,66,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 29px;
}
.v56_474 {
  width: 4px;
  height: 8px;
  background: rgba(65,64,66,1);
  opacity: 1;
  position: absolute;
  top: 29px;
  left: 65px;
}
.v56_475 {
  width: 2px;
  height: 8px;
  background: rgba(65,64,66,1);
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 67px;
}
.v56_476 {
  width: 16px;
  height: 11px;
  background: rgba(65,64,66,1);
  opacity: 1;
  position: absolute;
  top: 58px;
  left: 39px;
}
.v56_477 {
  width: 22px;
  height: 5px;
  background: rgba(65,64,66,1);
  opacity: 1;
  position: absolute;
  top: 52px;
  left: 43px;
}
.v56_478 {
  width: 9px;
  height: 9px;
  background: rgba(65,64,66,1);
  opacity: 1;
  position: absolute;
  top: 65px;
  left: 32px;
}
.v56_479 {
  width: 6px;
  height: 7px;
  background: rgba(65,64,66,1);
  opacity: 1;
  position: absolute;
  top: 83px;
  left: 55px;
}
.v56_480 {
  width: 6px;
  height: 6px;
  background: rgba(65,64,66,1);
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 50px;
}
.v56_481 {
  width: 3px;
  height: 6px;
  background: rgba(65,64,66,1);
  opacity: 1;
  position: absolute;
  top: 83px;
  left: 51px;
}
.v56_482 {
  width: 38px;
  height: 59px;
  background: rgba(65,64,66,1);
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 63px;
}
.v56_483 {
  width: 34px;
  height: 54px;
  background: rgba(65,64,66,1);
  opacity: 1;
  position: absolute;
  top: 52px;
  left: 65px;
}
.v56_484 {
  width: 11px;
  height: 18px;
  background: rgba(65,64,66,1);
  opacity: 1;
  position: absolute;
  top: 82px;
  left: 83px;
}
.v56_485 {
  width: 5px;
  height: 8px;
  background: rgba(65,64,66,1);
  opacity: 1;
  position: absolute;
  top: 70px;
  left: 75px;
}
.v56_486 {
  width: 5px;
  height: 7px;
  background: rgba(65,64,66,1);
  opacity: 1;
  position: absolute;
  top: 60px;
  left: 69px;
}
.v1_2470 {
  width: 184px;
  height: 40px;
  background: url("../images/v1_2470.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 176px;
  left: 80px;
  overflow: hidden;
}
.v1_2471 {
  width: 40px;
  height: 40px;
  background: url("../images/v1_2471.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v1_2472 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v1_2476 {
  width: 40px;
  height: 40px;
  background: url("../images/v1_2476.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 48px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v1_2477 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v1_2481 {
  width: 40px;
  height: 40px;
  background: url("../images/v1_2481.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 96px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v1_2482 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v1_2486 {
  width: 40px;
  height: 40px;
  background: url("../images/v1_2486.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 144px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v1_2487 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v61_34 {
  width: 100%;
  height: 100%;
  background: url("../images/v61_34.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 320px;
  overflow: hidden;
}
