---
---
<h1>Dobrodošli na Percules!</h1>
<p>Ovo je zvanična stranica za Percules, mesto gde se sve magije dešavaju.</p>
<nav>
  <ul>
    <li><a href="/about">O nama</a></li>
    <li><a href="/features">Funkcionalnosti</a></li>
    <li><a href="/contact">Kontakt</a></li>
  </ul>
</nav>